[DATABASE]
urlDB=jdbc:mysql://localhost:3306/miaam
usernameDB=root
passwordDB=

[SERVICECENTRAL]
urlSC=http://localhost:8080/servicecentral
ipSC=127.0.0.1
portSC=1234

[API]
api.url=https://carto.g-ny.org/data/cifs/cifs_waze_v2.json